.cctv-container{
        max-width: 85%;
    margin: auto;
}


.cctv-about-section{
background:#f8f8fb;
padding:80px 0;
}

/* IMAGE GRID */

.cctv-image-grid{
display:grid;
grid-template-columns: 1fr 1fr;
/* grid-template-rows: 220px 220px; */
gap:20px;
}

.cctv-grid-img{
width:100%;
height:100%;
object-fit:cover;
border-radius:20px;
}

/* IMAGE POSITION */

.img1{
grid-row: span 1;
}

.img2{
grid-row: span 1;
    margin-top: 70px;
    height: 80%;
}

.img3{
grid-row: span 1;
}

.img4{
grid-row: span 2;
}

/* RIGHT CONTENT */

.cctv-title{
font-size:38px;
font-weight:700;
color:#0c0c2e;
margin-bottom:15px;
line-height:1.3;
font-family: "Poppins", sans-serif;

}
.cctv-title span{
        background: linear-gradient(90deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cctv-text{
color:#666;
margin-bottom:25px;
font-size:16px;
}

/* FEATURES */

.cctv-feature-box{
display:flex;
gap:15px;
margin-bottom:20px;
align-items:flex-start;
}

.cctv-feature-box h5{
font-size:18px;
font-weight:600;
margin-bottom:5px;
}

.cctv-feature-box p{
font-size:14px;
color:#666;
margin:0;
}

/* ICONS */

.cctv-icon{
width: 93px;
    height: 70px;
display:flex;
align-items:center;
justify-content:center;
border-radius:12px;
font-size:22px;
}
.bi-cpu::before, .bi-shield-check::before, .bi-people::before{
    font-size: 30px;
}

.orange{
background:#ffe6db;
color:#ff6b35;
}

.blue{
background:#e8f0ff;
color:#306bff;
}

.yellow{
background:#fff3e0;
color:#ffa500;
}

/* BUTTON */

.cctv-btn{
      background: linear-gradient(118deg, #00aaff, #004aab);

border:none;
padding:12px 32px;
border-radius:30px;
color:white;
font-weight:600;
margin-top:10px;
transition:0.3s;
}

.cctv-btn:hover{
background: linear-gradient(118deg, #004aab, #00aaff);
}