.np-footer{
  position: relative;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background:#000;
}

/* VIDEO */

.footer-video{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover; /* video cut honar nahi */
  background:#000;
  z-index:0;
}

/* OVERLAY */

.footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(17,0,105,0.80); */
    background: linear-gradient(135deg, #182f74, #0d48a15c);
    z-index: 1;
}

/* CONTAINER */

.footer-container{
  position:relative;
  z-index:2;
  display:flex;
  flex-wrap:wrap;
  gap:40px;
  justify-content:space-between;
  padding:60px 40px;
  width: 90%;
  margin: auto;
}

.footer-phone, .footer-email{
  color: white;
}
/* LOGO */

.footer-logo{
  flex:1;
  min-width:250px;
}

.footer-logo img{
  width:110px;
  margin-bottom:15px;
}

.footer-logo p{
  font-size:14px;
  line-height:1.6;
}

/* LINKS */

.footer-links{
  flex:1;
  min-width:150px;
}

.footer-links h4{
  margin-bottom:15px;
}

.footer-links ul{
  list-style:none;
  padding:0;
}

.footer-links li{
  margin-bottom:10px;
}

.footer-links a{
  color:white;
  text-decoration:none;
  transition:.3s;
}


/* CONTACT */

.footer-contact{
  flex:1;
  min-width:200px;
}

.footer-contact h4{
  margin-bottom:15px;
}

.footer-contact p{
  font-size:14px;
  margin-bottom:10px;
  display:flex;
  align-items:center;
}


/* SOCIAL */

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: 0.3s;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.footer-icons {
    width: 40px;
    height: 40px;
    /* margin: auto; */
    border-radius: 50%;
    background: linear-gradient(135deg, #29b6f6, #0d47a1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: -2px;
    margin-right: 10px;
}

.footer-icons i{
  font-size: 21px;
}

/* BOTTOM */

.footer-bottom{
  position:relative;
  z-index:2;
  text-align:center;
  border-top:1px solid rgba(255,255,255,0.2);
  padding:15px;
  font-size:13px;
}

@media (max-width: 768px){

  .footer-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    padding: 60px 32px;
    width: 100%;
    margin: auto;
}
}