.breadcrumb-overlay {
    position: relative;
    height: 372px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 71px;
    padding-bottom: 12px;
    margin-top: -92px;
}

.breadcrumb-header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.breadcrumb-title {
  font-size: 2.6rem;
  color: #fff;
  margin: 0;
}

.breadcrumb-subtitle {
  font-size: 1.1rem;
  margin-top: 10px;
  color: #f0f0f0;
}

.breadcrumb-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(82 172 217 / 81%);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.breadcrumb-list {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #fff;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: #000000 !important;
}

@media (max-width: 768px) {
.breadcrumb-overlay {
    height: 383px;
    padding-bottom: 0px;
}

  .breadcrumb-title {
    font-size: 1.8rem;
  }
}
